.empty {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;

    &-text {
        font-size: 56px;
        font-weight: 500;
        line-height: 24px;
        color: #0414ff;
    }

    &-btns {
        display: flex;
        align-items: center;
        gap: 20px;

        .btn {
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 500;
            color: #fff;
            border-radius: 10px;
            background-color: #0414ff;

            &:nth-child(2) {
                background-color: transparent;
                border: 2px solid #0414ff;
                color: #0414ff;
            }
        }
    }
}