header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);


    .container {
        width: 100%;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 100%;
    }

    .menu-search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 610px;

        .menu-btn {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 8px 20px;
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            border-radius: 10px;
            background-color: #006bff;

            .menu {
                display: flex;
                flex-direction: column;
                gap: 2px;

                span {
                    width: 15px;
                    height: 2px;
                    background-color: #fff;
                    border-radius: 5px;
                }
            }
        }

        .search {
            width: 100%;
            max-width: 490px;
            display: flex;
            align-items: center;
            min-width: 200px;

            input {
                height: 38px;
                width: 100%;
                padding: 9px 10px;
                color: #006bff;
                line-height: 16px;
                border: 2px solid #006bff;
                border-radius: 10px 0px 0px 10px;
                font-size: 14px;
                max-width: 380px;
                min-width: 150px;
                position: relative;
                left: 20px;
                background-color: transparent;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 38px;
                padding: 9.8px 12px;
                font-size: 16px;
                font-weight: 500;
                color: #fff;
                border-radius: 0 10px 10px 0;
                background-color: #006bff;
            }
        }
    }

    .btn {
        width: 85px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 3px;
            font-size: 12px;
            font-weight: 400;
            color: #000000;
            background-color: transparent;
            transition: all .3s ease;

            .count {
                position: absolute;
                top: -3px;
                right: 6px;
                width: 16px;
                height: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                font-weight: 500;
                color: #fff;
                border-radius: 50%;
                background-color: #006bff;
            }

            img {
                width: 20px;
                height: 20px;
            }

            svg {
                fill: currentColor;
                width: 20px;
                height: 20px;
            }
        }

        &:hover {
            button {
                color: #006bff;
            }
        }

        &.active {
            button {
                color: #006bff;
            }
        }
    }

    .login-modal {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .login-register {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: start;
            flex-direction: column;
            gap: 5px;
            padding: 52px;
            font-size: 14px;
            font-weight: 500;
            color: #000000;

            h1 {
                text-align: center;
                margin-bottom: 40px;
                font-size: 22px;
                font-weight: 700;
                color: #0f172a;
                line-height: 32px;
            }
            .login-btn {
                margin-top: 20px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                padding: 12px 20px;
                font-size: 14px;
                font-weight: 500;
                color: #fff;
                border-radius: 10px;
                background-color: #006bff;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #0414ff;
                }
            }
            .login-line {
                margin: 20px 0;
                width: 95%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                span {
                    width: 100%;
                    height: 1px;
                    background-color: #c2c6d1;
                }
                p {
                    font-size: 13px;
                    color: #212529;
                }
            }
            .login-social {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                margin: 20px 0;

                a {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    background-color: #f2f2f7;
                    padding: 10px 47px;
                    border-radius: 8px;
                    color: #fff;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color:   #e7e7ec ;
                    }
                }
            }
        }

        .login-text {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 5px;
            padding: 52px 32px;
            font-size: 14px;
            font-weight: 500;
            color: #000000;
            background-color: #f2f2f7;
            border-radius: 0 15px 15px 0;
        }
    }
}