.product-card {
    position: relative;
    width: 100% !important;
    max-width: 300px !important;
    margin: 10px 0 !important;
    padding: 15px;
    border-radius: 15px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.3s ease;
    height: 400px;

    .delete-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 8px;
        border-radius: 0 8px 0 8px;
        background-color: red;
        position: absolute;
        top: 0;
        right: 0;
        color: #ffffff;
        cursor: pointer;
        font-size: 16px;
        transition: color 0.3s ease;

        &:hover {
            background-color: darkred;
        }
    }

    .product-card-img {
        cursor: pointer;
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 160px;
            height: 160px;
        }
    }

    .product-card-icon {
        position: absolute;
        top: 8%;
        right: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .product-card-info {
        cursor: pointer;
        display: flex;
        flex-direction: column;


        p {
            width: 100%;
            height: 40px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
            font-weight: 700;
            color: inherit;
            line-height: 20px;
            transition: all 0.3s ease;
            color: #141821;
        }

        .stars {
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;

            img {
                width: 20px;
                height: 20px;
            }

            .reyting {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .comments {
                font-size: 12px;
                line-height: 20px;
                color: #c2c6d1;
            }
        }

        .price {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 4px;

            .old {
                font-size: 12px;
                line-height: 20px;
                color: #adb3c4c2;
                text-decoration: line-through;
            }

            .new {
                font-size: 18px;
                font-weight: 700;
                color: #4692fc;
            }
        }

        .to-pay {
            margin-top: 10px;
            text-align: start;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            padding: 4px;
            border: 1px solid #fe7300;
            border-radius: 5px;
            color: #fe7300;
            background-color: transparent;
        }
    }

    .product-card-btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        .buy {
            width: 80%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            padding: 8px;
            font-size: 13px;
            font-weight: 500;
            color: #fff;
            border-radius: 10px;
            background-color: #006bff;
            position: relative;
            overflow: hidden;
            transition: all 0.3s ease;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), transparent);
                transition: all 0.6s ease;
            }

            &:hover:before {
                left: 100%;
            }

            &:hover {
                background-color: #0414ff;
            }
        }

        .add {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
            height: 100%;
            z-index: 8;
            border-radius: 8px;
            background-color: #0db8aae3;
            padding: 5px;
            transition: all 0.3s ease;

            &:hover {
                background-color: #0ff1e2f5;
            }
        }
    }


    &:hover {
        transform: scale(1.01);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

        .product-card-info {
            p {
                color: #006bff;
            }
        }
    }
}