.tracking {
    margin-top: 70px;

    .container {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .tracking-Links {
        display: flex;
        align-items: center;
        gap: 4px;

        a {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: #858997;
        }

        span {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: #858997;
        }

        p {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: #000;
        }
    }

    .tracking-content {
        width: 100%;
        margin: 0 auto;
        height: auto;
        border-radius: 20px;
        padding: 30px;
        background-color: #FFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        box-shadow: 0px 10px 30px rgba(209,213,223,.5);

        &-registration {
            position: relative;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            h2 {
                color: #000;
                font-size: 24px;
                font-weight: 600;
                line-height: 32px;
                text-align: center;
            }

            b {
                width: 80% ;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: center;
                color: #475569;
            }

            input {
                width: 80% ;
                background-color: #f8fafc ;
                padding: 10px 16px ;
                border-radius: 8px ;
                font-size: 14px ;
                font-weight: 500;
                line-height: 24px;
                color: #000;
                text-transform: uppercase;

                &::placeholder {
                    text-transform: none;
                }
            }
            label {
                margin-top: 20px;
                width: 80% ;
                display: flex;
                align-items: start;
                flex-direction: column;
                gap: 5px;
                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #475569;
                }
                input {
                    width: 100% ;
                    background-color: #f8fafc ;
                    padding: 10px 16px ;
                    border-radius: 8px ;
                    font-size: 14px ;
                    font-weight: 500;
                    line-height: 24px;
                    color: #000;
                }
            }
            .capcha {
                width: 80%;
                display: flex;
                align-items: start;
                justify-content: start;
                margin-top: 20px;
                margin-bottom: 80px;
                .g-recaptcha {
                  margin: 0 auto;
                }
              }
              
              .tracking-btn[disabled] {
                background-color: #ccc;
                cursor: not-allowed;
              }
              
            .tracking-btn {
                position: absolute;
                bottom: 0;
                left: 10%;
                margin-top: 10px;
                display: flex;
                align-items: start;    
                justify-content: start;
                padding: 10px 16px;
                border-radius: 10px;
                font-size: 14px;
                background-color: #006bff;
                color: #fff;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #0414ff;
                }
            }
        }

        &-img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;

            img {
                width: 70%;
                height: auto;
                object-fit: contain;
            }
        }
    }
}